# =========================
# Git / IDE / Local env
# =========================
.git/
.idea/
.vscode/
.venv/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.iml

# =========================
# Hugging Face cache
# =========================
.hf_cache/
.huggingface/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Weights / model artifacts
# =========================
**/*.pt
**/*.pth
**/*.onnx
**/*.engine
**/*.tflite
**/*.torchscript

# =========================
# Training outputs / large artifacts
# =========================
runs/
outputs/
*.zip

# =========================
# Project-specific large folders
# =========================
model/**/datasets/
model/**/runs/
model/nest/data/

# =========================
# Other
# =========================
ultralytics_custom/*.tar.gz


runs_finetune/
runs/
datasets/
*.pt
data/**/origin/