# --- large datasets (do not track) ---
/insulator/Yolo-v8n-laf/datasets/
/nest/data/
/rail/Yolo-v8n-laf/datasets/
/insulator/Yolo-v8n-laf/runs/
/rail/Yolo-v8n-laf/runs/
/nest/runs/
.git
.gitignore
.idea
__pycache__
**/.idea/
**/__pycache__/
**/*.pyc
*.zip
/ultralytics_custom/*.tar.gz